<IfModule mod_rewrite.c>

Options -Indexes

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/src/pages/
RewriteRule ^(.*)$ /src/pages/$1 [L]

</IfModule>