@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Open Sans';
    }

    .h-1px { 
        height: 1px;
    }

    .rotateY-0 {
        transform: rotateY(0);
    }

    .rotateY-180 {
        transform: rotateY(180deg);
    }

    .-rotateY-180 {
        transform: rotateY(-180deg);
    }
}